/* general styles */

:root {
  --toastify-icon-color-info: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: auto;
}



*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  font-size: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-size:16px;
  overflow-y: auto;
}




h4 {
  color:#e00917;
}

/* general styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
nav{
  background-color: #e00917;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  font-size: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  background-image: url("../public/background/desktopPlain.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: left top;
  background-size: contain;
  overflow-y: hidden;
  overflow-x: hidden;
}

h4 {
  color: rgba(40, 53, 14,7 1);
}

/* styles for index file */
.nav-wrapper {
  padding: 0;
  height: 80px;
}
.nav-wrapper ul {
  padding-block: 0;
  margin-block: 0;
  padding-right: 20px;
  height: 100%;
}




.right-padding li {
  padding-block: 0;
  margin-block: 0;
  height: 100%;
}

.right-padding li i {
  padding: 0;
  margin: 0;
  font-size: 60px;
  height: 64px;
  min-height: 100%;
  color: rgba(255, 255, 255, 1a);
}

/* styles for production */
.left-text {
  background-color: #e00917;
  height: 100%;
  padding-block: 0;
  margin-block: 0;
  padding-inline: 4px;
  display: grid;
  grid-template-columns: 1fr 80px;
}
.nav {
  margin: 3rem auto;
}
.firstnav {
  margin-top: 30px;
}

.firstnav a:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.8);
}

.header_image {
  max-width: 100%;
  width: 80px;
  margin-top: 15px;
  /* position: absolute; */
  /* right: 1%; */
}

.item-link {
  font-family: "Roboto", sans-serif;
 background-color: #e00917;
  margin: 20px 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: rgb(8, 8, 8); */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  /* padding-block: 20px; */
  border-radius: 8px;
}

.item-link-offline{
  font-family: "Roboto", sans-serif;
 background-color: #062d9b;
  margin: 20px 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: rgb(8, 8, 8); */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  /* padding-block: 20px; */
  border-radius: 8px;
}

.newcenter {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-block: auto;
  padding-inline: 10px;
}

.brand-logo {
  font-weight: 600;
}

.home-icon {
  padding-inline: 20px;
}
.home-icon li i {
  font-size: 60px;
}
.home-icon:hover {
  cursor: pointer;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  margin-top: 20px;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea,
textarea.challenge_style,
textarea.worked_stlyed,
select {
  padding-inline: 8px;
  margin-bottom: 0;
  /* border-bottom: 2px solid rgb(235, 79, 110); */
  box-shadow: 0 0 5px 1px rgba(130, 128, 128, 0.8);
  border-radius: 8px;
  margin-top: 12px;
}

input:not([type]):hover,
input[type="text"]:not(.browser-default):hover,
input[type="password"]:not(.browser-default):hover,
input[type="email"]:not(.browser-default):hover,
input[type="url"]:not(.browser-default):hover,
input[type="time"]:not(.browser-default):hover,
input[type="date"]:not(.browser-default):hover,
input[type="datetime"]:not(.browser-default):hover,
input[type="datetime-local"]:not(.browser-default):hover,
input[type="tel"]:not(.browser-default):hover,
input[type="number"]:not(.browser-default):hover,
input[type="search"]:not(.browser-default):hover{
  border:1px solid rgb(55, 168, 166);
}

label {
  margin-top: 28px;
}
textarea {
  resize: none;
  border-radius: 6px;
  border: 2px solid green;
}
input::placeholder {
  color: gray;
  padding-left: 8px;
}

.card-panels {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  padding: 24px;
  margin: .5rem 0 1rem 0;
}



.btn-large {
  background-color: #2E33D1;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  margin: 25px auto;
  width: 50%;
  border-radius: 8px;
}

.btn-large i {
  font-size: 2rem;
  padding-left: 10px;
  vertical-align: middle;
}

/* styling and changes for activity  */
select {
  display: inline;
}

/* styling and changes for  worked form */
.worked,
.challenge {
  margin-top: 0px;
}

/* home icons */
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  width: 100%;
}

/* styling for registration form */
.flex_button {
  text-align: center;
  margin-block: 3rem;
  display: inline-block;
  justify-content: space-between;
}
.flex_button button {
  width: 46%;
  border-radius: 6px;
  height: 50px;
}
.location_gps {
  border-radius: 8px;
  margin-inline: 0;
  width: 100%;
  margin-block: 40px;
  border: 1px solid rgba(159, 168, 218, 1);
}
.location_gps h4 {
  padding-inline: 1rem;
}
.location_gps_two {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.location_gps_two input {
  max-width: 90%;
}

.location_gps .btn {
  font-size: 20px;
  border-radius: 6px;
  display: block;
  text-align: center;
  /* justify-content: space-between;
  align-items: center; */
  height: 50px;
  padding: 0 22px;
  margin: 20px auto;
  background-color: #83E009;
}

.location_gps .material-icons {
  font-size: 25px;
  font-weight: bold;
}

.material-icons.register_buttons {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

/* preloader styling */
/* .preloader-wrapper {
  display: none;
} */

/* upload photo styling */
/* .dropzone {
  border: 4px dotted blueviolet;
  text-align: center;
  height: 300px;
  font-size: 2.6em;
  line-height: 140%;
} */

.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 10px;
  align-content: center;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile .user {
  display: flex;
  width: 30%;
}

.profile .user :nth-child(2) {
  padding-left: 4px;
  font-weight: 500;
}

.users_input {
  width: 58%;
  background-color: rgba(224, 9, 23, 0.6);
  padding: 4px 6px;
  border-radius: 6px;
  color: rgb(92, 91, 91);
  font-size: 16px;
}
.btn.waves-effect.color_change {
  background-color: #6609E0;
}

.btn.waves-effect.color_change_two {
  background-color: #faff00;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}

.file-upload-btn {
  border-radius: 6px;
  border-bottom: none;
  box-shadow: 0 0 4px 2px rgba(183, 182, 182, 0.8);
}

/* css styling for circle */
.preloader-wrapper.small.preloader_element {
  text-align: center;
  margin-inline: auto;
  left: 50%;
  width: 30px;
  height: 30px;
}

.preloader-wrapper.small {
  vertical-align: middle;
  /* display: none; */
}

.preloader-wrapper{
  display: none;
  margin-left: 4px;
  width:24px;
  height: 24px;
}

.icon-submit{
  display: block;
}

.spinner-green,
.spinner-green-only {
  border-color: #ffffff;
}

.circle-clipper .circle {
  border-style: dotted;
}

/* css styling for page not found */
.pagenotfound{
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.pagenotfound :nth-child(1){
  font-size: 48px;
}

.pagenotfound :nth-child(2){
  font-size: 22px;
}

.pagenotfound :nth-child(3){
  vertical-align: middle;
  text-align: center;
  padding-block:8px;

}

/* error massge login */
.parentError{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:red;
}

.parentError :nth-child(1){
  font-size: 32px;
}

.parentError :nth-child(2){
  font-size: 18px;
}

/* hide inputs when select  */
/* hidden input by default */

 .mt-tops{
 margin-block: 20px;
 display: flex;
 flex-direction: column;

}

.authonticate_values{
  margin-block: 20px;
}

.number_twohide{
  display: none;
}



.number_twonot{
  display: block;
}

/* form actions */

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-block: 2rem;
}

/* buttons */

.editButton{
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e30d7c;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;
}

.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e30d7c;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #e30d5b;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.button-text {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: none;
  color: #3f0c26;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.button-text:hover {
  color: #7c184c;
}

/* loading indicator */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 1rem 0;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #e30d5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e30d5b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

/* error page code */
.error-block {
  background-color: #f0d9e5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  color: #890b35;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.error-block-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #890b35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h2 {
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
}

.error-block p {
  margin: 0;
}

/* form  edit styling*/
#event-form label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: #3c4249;
  text-transform: uppercase;
}

#event-form input,
#event-form textarea {
  font: inherit;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

/*
grid-template-columns: auto minmax(0, 1fr) auto;



 child


     display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1rem;
}
*/


/* toastify */
.Toastify__toast-theme--light{
  background-color: #DDDDDD !important;
}


.Toastify__toast-theme--light{
  color: #fff;
  font-size: 14px;
}

.Toastify__toast-icon {
  color: #fff;
}

/* modal  */

.modal-container{

  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;

}


.modal {
  grid-column: 2;
  grid-row: 2;
  place-self: center center;
  margin: 0;
  padding: 2rem;
  position: fixed;
  width: 30rem;
  max-height: 80vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

.modal::backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}



@media only screen and (max-width: 990px) {
  .btn-large {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 668px) {
  /* applied to all css for forms */
  .form {
    padding: 8px;
  }
  /* styles for index file */
  .nav-wrapper {
    width: 100%;
  }
  .btn-large {
    font-size: 1rem;
  }
  .btn-large i {
    font-size: 1.5rem;
    padding-left: 5px;
  }
  nav .brand-logo {
    /* left: 38%; */
    font-size: 25px;
  }
  .right-padding li i {
    padding: 0;
    font-size: 60px;
    padding-right: 0;
  }
  /* styles for production file */

  nav .brand-logo.center {
    font-size: 20px;
    left: 38%;
  }
  /* styles for questionnaire */
  nav .brand-logo.center.question {
    width: 300px;
    font-size: 20px;
    left: 40%;
  }
}

@media only screen and (max-width: 520px) {
  .left-text {
    width: 100%;
    /* padding-left: 6px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav .black-text {
    /* left: 38%; */
    vertical-align: middle;
    height: 100%;
    margin-top: 10px;
  }
  .right-padding li i {
    height: 80px;
    margin-top: 10px;
  }

  nav .brand-logo {
    position: relative;
  }
  .firstnav {
    margin-top: 50px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px;
    grid-auto-rows: 150px;
    gap: 5px;
    margin-inline: auto;
  }


  .item-link, .item-link-offline{
    width: 100%;
    height: 70%;
    font-size: 14px;
    margin: 0 0;
  }
}

@media only screen and (max-width: 390px) {
  nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    line-height: 18px;
  }
  .home-icon {
    padding-inline: 10px;
    width: 60px;
  }
}

@media only screen and (max-width: 370px) {
  .media-index {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .media-index .right-padding li i {
    margin-top: 10px;
  }

  nav ul li {
    float: right;
    display: block;
  }

  .btn-large {
    width: 100%;
  }
}

@media only screen and (max-width: 341px) {
  h4 {
    font-size: 2rem;
  }
  label {
    font-size: 18px;
  }
  nav .brand-logo.center {
    font-size: 20px;
  }
  nav.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media only screen and (max-width: 320px) {
  nav .brand-logo {
    font-size: 22px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 290px) {
  nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  nav .brand-logo.center.center.question {
    width: 220px;
    font-size: 18px;
  }
  .home-icon {
    padding-inline: 10px;
    width: 60px;
  }
  .nav-wrapper ul {
    padding-right: 5px;
  }
  .item-link {
    padding-inline: 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .location_gps {
    /* width: 100%; */
    margin: 0;
  }

  .btn {
    line-height: 16px;
  }
}

@media only screen and (min-width: 520px) {
  .location_gps .btn {
    width: 25%;
  }
}

.root,.container{
  overflow-y: auto;
}


/* background image responsiveness */
@media (min-width: 1080px){
  body {
    background-image: url("../public/background/desktopPlain.jpg");

  }

}

@media (max-width: 1080px) {
  body {
    background-image: url("../public/background/768-MAIN.jpg");
  }
}

@media (max-width: 768px){
  body {
    background-image: url("../public/background/768-MAIN.jpg")
  }
}

@media (max-width: 360px) {
  body {
    background-image: url("../public/background/360-main.jpg");
  }
}

@media (max-width: 320px) {
  body {
    background-image: url("../public/background/320-main.jpg");
  }
}




@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}